
.w-100{width:100%;}
.blk-tit.pattern-blk{margin: 0;}
.pb-0{padding-bottom: 0!important;}
.text-white{color:#fff;}

.mb-4, .my-4 {margin-bottom: 24px!important;}
.mt-4, .my-4 {margin-top: 24px!important;}
.mb-2, .my-2 {margin-bottom: 8px!important;}
.mt-2, .my-2 {margin-top: 8px!important;}
.mb-5, .my-5 {margin-bottom: 48px!important;}
.mt-5, .my-5 {margin-top: 48px!important;}
.pb-4, .py-4 {padding-bottom: 24px!important;}
.pt-4, .py-4 {padding-top: 24px!important;}
.pb-3, .py-3 {padding-bottom: 16px!important;}
.pt-3, .py-3 {padding-top: 16px!important;}
.pb-2, .py-2 {padding-bottom: 8px!important;}
.pt-2, .py-2 {padding-top: 8px!important;}

.h4, h4 {
    font-size: 24px;
}
.h5, h5 {
    font-size: 20px;
}
body{font-size: 16px;}
.blk-tit {
    font-size: 17.6px;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.justify-content-end {
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.font-weight-bold{font-weight: bold;}
.main-content{padding: 48px 0;}
.mb-3{margin-bottom: 16px;}
.mb-0{margin-bottom: 0;}
.event-item-2 .event-d-t, .event-item-2 .event-dets {padding: 6.4px 16px;}
.event-dets{font-size: 14.4px;}
#top-bar #top-langs a {font-size: 12.8px;padding: 3.2px;margin: 0 3.2px;}
.btn-social-icon {border-radius: 2.4px;font-size: 12.8px;padding: 4.8px;}
#top-search .form-control, #top-search .form-control::placeholder {font-size: 12.8px;}
#top-search {margin: 11.2px 0;}
#header-wrap .container > div{display: flex;width:100%;align-items: center;justify-content: space-between;flex-wrap: wrap;}
#header-wrap {padding: 16px 0;}

.tit-style-wrapper .h4{margin-bottom: 0!important;}
.border-bottom{border-bottom: 1px solid;}
.border{border: 1px solid;}

a:hover, a:active{text-decoration: none!important;}
.h4, .h5, .h6, h4, h5, h6{margin-top: 0;}


.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* Collapse */
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.collapse {
    display: none;
}
.collapse.show {
    display: block!important;
}
/* Tabs */
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block!important;
    opacity: 1!important;
}

/* NavBar */
.navbar-brand {
    display: inline-block;
    padding: .3125rem 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    height: unset;
    float: none!important;
}
.navbar {
    min-height: unset;
    border:0;
    margin: 0;padding: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: .5rem 1rem; */
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.collapse {
    display: none;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 10px 16px!important;
}
#nav-wrap .navbar-nav>li ,
#nav-wrap .dropdown-menu {
    float: none!important;
}
.dropdown-menu {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px!important;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
@media (min-width: 992px){
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 8px!important;
        padding-left: 8px!important;
    }
}


